.home-image {
    /* overflow: hidden; */
    height: 60vh;
    width: 100vw;
    /* background-position:3cap ; */

}
/* Home.css */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  